@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');

body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  min-width: 335px;
}
h1 {
  color: #fff;
  font-size: 3.5vmax;
  font-weight: 600;
  margin-bottom: 10px;
}
h2 {
  color: #D0E0FC;
  font-size: 1.7vmax;
  font-weight: 300;
}
h3 {
  color: #000;
  font-size: 2.5vmax;
  font-weight: 600;
  margin-bottom: 5px;
}
.btn {
  display: block;
  margin: 0 auto;
  color: black;
  font-size: 13px;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  padding: 13px 20px;
  background-color: white;
  border-radius: 100px;
  /* box-shadow: 0px 0px 10px 0px #dbdbdb; */
}
.btn:hover {
  box-shadow: 0px 0px 10px 2px #b8b8b8;
  /* ANIMATIE TOEVOEGEN   */
}

.container {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: 100%;
  grid-template-areas:
  "grid-section-menu"
  "grid-section-background"
  "grid-section-daginfo"
  ;
}

.menu {
  grid-area: grid-section-menu;
  position: fixed;
  z-index: 2;
  height: 50px;
  width: 100%;
  background-color: #0E77FF;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
/* menulogo */
#menu-logo {
  width: 150px;
  padding: 10px;
  margin-left: 10px;
}
/* menubars */
#menu-bars {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 20px;
  cursor: pointer;
}
.bar {
  height: 3px;
  width: 20px;
  margin: 5px 0px;
  border-radius: 100px;
  background-color: white;
}
.bar:nth-child(2) {
  margin: 1.9px 0px;
  width: 10px;
}
.bar:nth-child(3) {
  width: 28px;
}


.background {
  grid-area: grid-section-background;
  background-image: url(img/bg/bg2.svg);
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  text-align: center;
  padding: 0px 40px;
}
.background > header {
  position: relative;
  top: 35%;
  overflow: hidden;
}
.btn-clock {
  margin-top: 30px;
  width: 120px;
}
.clock {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: #fff;
  font-size: 17vw;
  letter-spacing: 7px;
  font-weight: 500;
}


.timeOfTheDay {
  grid-area: grid-section-daginfo;
  text-align: center;
  padding: 0px 40px;
  position: relative;
  top: -70px;
}
.timeOfTheDay > header {
  margin-bottom: 60px;
}
.timeOfTheDay > header > h1 {
  color: #000;
}
.timeOfTheDay > header > h2 {
  color: #8F8F8F;
}

.weerinformatie {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
}
.weatherbox {
  box-shadow: 0px 20px 60px 0px rgba(14,119,255,0.15);
  text-align: left;
  padding: 0px 30px 30px 30px;
  margin-bottom: 100px;
}
.weatherbox:nth-child(2) {
  box-shadow: 0px 20px 60px 0px rgba(14, 119, 255, 0.6);
}
.btn-weather {
  position: relative;
  top: -15px;
  background-color: rgb(22, 178, 255, 0.09);
  color: #0E77FF;
  font-size: 13px;
  padding: 5px 17px;
  width: 100px;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  border-radius: 100px;
}
.weatherbox:nth-child(2) > .btn-weather {
  background-color: #0E77FF;
  color: #fff;
}
.line {
  background-color: #0E77FF;
  height: 4px;
  margin: 5px 0px 30px 0px;
  width: 120px;
  border-radius: 90px;
}
.weatherbox > img {
  width: 80%;
}










@media only screen and (min-width: 1024px) {
  .clock {
    left: 30%;
    font-size: 12vw;
  }
}
